
/* опишем базовый стиль кнопки калькулятора */
.my-btn {

    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    border-radius: 8px;          /* немного скругляем кнопку */
    border: none;                /* отключаем обводку */
    background: #34495e;;
    color: linen;
    font-size: 1.3rem;           /* увеличим размер шрифта */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* сменим шрифт */
    font-weight: 800;
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
}

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
    background: #2a3b4c;
    color: #2c2c2c;
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
    background: #2ecc71;
}

.my-btn.primary:hover {
    background: #208d4e;
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
    background: #3498db;
}

.my-btn.secondary:hover {
    background: #236692;
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
    width: 110px;          /* сделаем кнопку шире других */
    border-radius: 8px;   /* подкорректируем округлость */
}

/* селектор для поля вывода результата */
.result {
    width: 348px;
    height: 70px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(73, 73, 73); /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: #2ecc71;              /* цвет текста белый */
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    line-height: 70px;
    box-sizing: border-box;
    overflow: auto;
}

/* фон калькулятора */
.calculator-container {
    background: #2c2c2c;
    padding: 16px;
    padding-right: 11px;
    display: inline-block;
    border-radius: 16px;
}

header {
    background-color: #2c2c2c;
    color: linen;
    padding: 12px 0;
    /* border-bottom: 2px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    width: 100%;
}

body.light-theme .header {
    background-color: linen;
    color: #2c2c2c;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    padding-left: 32px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-right: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    background-color: linen;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.footer {
    color: linen;
    text-align: center;
    background: #2c2c2c;
    display: inline-block;
    padding: 12px;
    margin-top: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
    width: 40%;
}

body.light-theme .calculator-container {
    background: linen;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

body.light-theme .result {
    background: #b1b1b1;
    color: #27ae60;
}

body.light-theme .my-btn {
    background: #b1b1b1;
    color: #2c2c2c;
}

body.light-theme .my-btn.primary {
    background: #2ecc71;
}

body.light-theme .my-btn.primary:hover {
    background: #208d4e;
}

body.light-theme .my-btn.secondary {
    background: #3498db;
}

body.light-theme .my-btn.secondary:hover {
    background: #236692;
}

body.light-theme .my-btn:hover {
    background-color: gray;
    color: white;
}

body.light-theme .footer {
    background: linen;
    color: #2c2c2c;;
}

#theme-toggle {
    width: 100%;
    padding: auto;
    font-size: 18px;
}

#github-btn {
    padding: auto;
    width: 140px;
    height: 52px;
    min-width: 140px;
    min-height: 52px;
    box-sizing: border-box;
    font-size: 18px;
    background: #f39c12;
    color: #2c2c2c;
}

#github-btn:hover{
    background: #ffbe1a;
}

#theme-toggle {
    padding: auto;
    width: 140px;
    height: 52px;
    min-width: 140px;
    min-height: 52px;
    box-sizing: border-box;
    font-size: 18px;
    color: linen;
}

#theme-toggle:hover {
    color: linen;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown {
    padding: auto;
    background: #2c2c2c;
    color: linen;
    border-radius: 8px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 16px;
}

body.light-theme .dropdown {
    background: linen;
    color: #2c2c2c;
}

body.bg-image {
    background-image: url('../img/audi_RS7.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.extra-controls {
    display: flex;
    justify-content: space-between;
    width: 288px;
    margin-top: 10px;
    gap: 8px;
}

.color-btn {
    flex: 1;
    height: 48px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #2c2c2c;
    color: linen;
}

body.light-theme .color-btn {
    background-color: linen;
    color: #2c2c2c;
}

body:not(.light-theme) .calc-alt-color {
    background-color: #f39c12 !important;
}

body:not(.light-theme) .res-alt-color {
    background-color: #34495e !important;
}

body.light-theme .calc-alt-color {
    background-color: #dfe6e9 !important;
}
body.light-theme .res-alt-color {
    background-color: #bfd3ff !important;
}
